body {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	color: #333;
}

.error {
	color: red;
}

label {
	display: block;
	font-size: 20px;
}

label + label {
	margin-top: 20px;
}

input[type=text] {
	width: 200px;
	font-size: 20px;
	padding: 2px;
	font-family: monospace;
}

input[type=password] {
	width: 200px;
	font-size: 20px;
	padding: 2px;
	font-family: monospace;
}

input[name=subject] {
	width: 800px;
	font-size: 17px;
	padding: 2px;
	font-family: monospace;
}

textarea {
	width: 800px;
	height: 400px;
	font-size: 17px;
	font-family: monospace;
}

input[type=submit] {
	font-size: 24px;
}

.label {
	font-weight: bold;
}

.history-table {
	width: 100%;
	border-collapse: collapse;
}

.table-row:nth-child(even) {
	background: #E2DED1;
}

.table-box {
	height: 20px;
	padding: 15px;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
}

.table-box2 {
	width: 400px;
	height: 20px;
	padding: 15px;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
}

.table-box1 {
	width: 170px;
	height: 20px;
	padding: 15px;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
}

.links {
	font-size: 13px;
	font-weight: bold;
	color: gray;
	text-decoration: none;
}

.links:hover {
	text-decoration: underline;
}

.main-title {
	display: block;
	color: #222;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	text-decoration: none;
}

.post + .post {
	margin-top: 15px;
}

.new-post {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	margin-bottom: 20px;
	margin-left: 10px;
}

.signup {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	position: absolute;
	top: 10px;
	right: 10px;
}

.signup:hover {
	text-decoration: underline;
}

.list-page {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	position: absolute;
	top: 10px;
	left: 20px;			
}

.list-page:hover {
	text-decoration: underline;
}

.newpost {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	position: absolute;
	top: 10px;
	left: 61px;			
}

.newpost:hover {
	text-decoration: underline;
}

.flush {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	position: absolute;
	top: 10px;
	left: 138px;			
}

.flush:hover {
	text-decoration: underline;
}

.separator1 {
	font-size: 15px;
	font-weight: bold;
	color: gray;
	position: absolute;
	top: 10px;
	right: 64px;
}

.separator2 {
	font-size: 15px;
	font-weight: bold;
	color: gray;
	position: absolute;
	top: 10px;
	right: 204px;
}

.separator3 {
	font-size: 15px;
	font-weight: bold;
	color: gray;
	position: absolute;
	top: 10px;
	left: 52px;
}

.separator4 {
	font-size: 15px;
	font-weight: bold;
	color: gray;
	position: absolute;
	top: 10px;
	left: 129px;
}

.edit {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	position: absolute;
	top: 10px;
	right: 214px;			
}

.edit:hover {
	text-decoration: underline;
}

.history {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	position: absolute;
	top: 10px;
	right: 150px;			
}

.history:hover {
	text-decoration: underline;
}

.login {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	position: absolute;
	top: 10px;
	right: 74px;			
}

.login:hover {
	text-decoration: underline;
}

.new-post:hover {
	text-decoration: underline;
	color: #696969;
}

.post-heading {
	position: relative;
	border-bottom: 3px solid #666;
	margin-bottom: 40px;
}

.post-title {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.post-title:hover {
	text-decoration: underline;
	color: gray;
}

.post-sample {
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	left: 200px;
	bottom: 0px;
	text-decoration: none;
	color: #333;
}

.post-sample:hover {
	text-decoration: underline;
	color: gray;
}

.post-author {
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	right: 150px;
}

.post-date {
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	right: 0px;
	bottom: 0px;
	color: #999;
}

.post-content {
	margin-top: 5px;
	font-family: "Times New Roman";
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
