{% extends "wiki_base.html" %}
{% block content %}

	<h2><u>Signin</u></h2>

	<form method="post">
		<table>
			<tbody>
				<tr>
					<td class="label">
						Username
					</td>
					<td>
						<input type="text" name="username" value="{{username}}">
					</td>
				</tr>

				<tr>
					<td class="label">
						Password
					</td>
					<td>
						<input type="password" name="password" value="{{password}}">
					</td>
				</tr>

			</tbody>
		</table>

		<div class="error">{{error}}</div>
		<br>
		<input type="submit">
		<input type="hidden" name="next_url" value="{{next_url}}">
	</form>

	
{% endblock %}
