{% extends "wiki_base.html" %}
{% block content %}
	
	{% if exist %}
		{% if user %}
			<a class="edit" href="{{path}}">View</a>
			<div class="separator2">|</div>
		{% endif %}
		<a class="history" href="/_history{{path}}">History</a>
	{% endif %}


	<form method="post">
		{% if path == '/_newpost' %}
			<label>
				<dic class="subject">Title</div>
				<input type="text" name="subject" value="{{page.subject}}">
			</label>
		{% endif %}

		<label>
			<div class="content">Contents</div>
			<textarea name="content">{{page.content}}</textarea>
		</label>

		<div class="error">{{error}}</div>

		<input type="submit">
		{% if page %}
			<input type="hidden" name="version" value="{{page.key().id()}}">
		{% endif %}
	</form>

	
{% endblock %}
