{% extends "wiki_base.html" %}
{% block content %}

	<h2><u>Signup</u></h2>

	<form method="post">
		<table>
			<tbody>
				<tr>
					<td class="label">
						Username
					</td>
					<td>
						<input type="text" name="username" value="{{username}}">
					</td>
					<td>
						<div class="error">{{error_username}}</div>
					</td>
				</tr>

				<tr>
					<td class="label">
						Password
					</td>
					<td>
						<input type="password" name="password" value="{{password}}">
					</td>
					<td>
						<div class="error">{{error_password}}</div>
					</td>
				</tr>

				<tr>
					<td class="label">
						Verify Password
					</td>
					<td>
						<input type="password" name="verify" value="{{verify}}">
					</td>
					<td>
						<div class="error">{{error_verify}}</div>
					</td>
				</tr>

				<tr>
					<td class="label">
						Email (optional)
					</td>
					<td>
						<input type="text" name="email" value="{{email}}">
					</td>
					<td>
						<div class="error">{{error_email}}</div>
					</td>
				</tr>
			</tbody>
		</table>

		<br>
		<input type="submit">
		<input type="hidden" name="next_url" value="{{next_url}}">
	</form>

	
{% endblock %}
